@using Core.Models.Dashboard
@using Infrastructure.Data
@using Microsoft.AspNetCore.Identity
@model StatisticsAppListViewModel

@{
    ViewData["Title"] = "Dashboard Statistics";
    Layout = "_LayoutIntro";
}

@if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Guest"))
{
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Dashboard Statistics</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                            <form class="text-muted" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="text-muted mb-0 btn btn-link">Logout</button>
                            </form>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 col-xl-8">
                        @if (@Model != null)
                        {
                            @foreach (var item in @Model.Statistics)
                            {
                                <div class="card m-b-30">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Incomes @item.Month</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-6 col-lg-3">
                                                <div class="border-success border rounded text-center py-3 mb-3">
                                                    <h5 class="card-title text-success mb-1">€ @item.TotalAmounth</h5>
                                                    <p class="text-success mb-0">Incomes</p>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-9">
                                                @foreach (var income in item.Incomes!)
                                                {
                                                    var sumex = Math.Round(income.Amount * 100 / item.TotalAmounth);

                                                    <p>@income.CategoryName <span class="float-right">@sumex% -> @income.Amount €</span></p>
                                                    <div class="progress mb-3" style="height: 5px;">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: @sumex%" aria-valuenow="@sumex" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>For now there are no statistics for this year.</p>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
}
